<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
{% include 'header.html' %}
{% csrf_token %}
<h2> Serving renters and property owners nationwide Apartment-Rentz is the leading online apartment listing website,offering renters access to information on more than million available units for rent.The Apartment-rentz.com site includes Apartments,ApartmentFinder and CorporateHousing.That Have been earned status,Apartment-Rentz is supported by the industry's largest professional research team,which 400,000 properties nationwide.
    The team makes over one million calls each month to apartment owners and property managers.</h2>
{% include 'footer.html' %}

</body>
</html>