{% include 'header.html' %}

{% block body %}

                <form action="/app1/change_password/" method="POST" style="margin-right:750;">
{% csrf_token %}
                    <input type="text" placeholder="Enter Email/contact" name="email" pattern="\w[a-zA-Z0-9]*@(gmail|yahoo|rediffmail|outlook|gmx|icloud)\.(com|in|can)) " title="forexample@gmail.com" required>
    <input type="password" placeholder="Enter Password" name="psw" pattern=".{5,15}" title="chartcters minimum 5 max 15" required>

    <input type="password" placeholder="Confirm Password" name="conf_psw" pattern=".{5,15}" title="chartcters minimum 5 max 15" required>

                    <button type="submit" value="Reset Password"><a href="/app1/change_password/">Reset Password</a></button>
                </form>
                    {% endblock %}

                    {% include 'footer.html' %}

