{% load static %}

<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}"  />
</head>
<body>

<header style="position:fixed;z-index:100;width:100%;height: 70px;
border-bottom:10px ridge brown;">
<div class="heading">
<div class="title">
<h1><span class="highlight">Apartment</span> RentZ</h1>
<p>chal chla chal</p>
</div>
</div>
  <ul>
      <li t><a class="/" href="/"><font color="white">Home</font></a></li>
 <li><a href="/app1/signup/"><font color="white">Sign Up</font></a></li>
    <li><a href="/app1/login/"><font color="white">Log In</font></a></li>
    <li><a href="/app1/login1/"><font color="white">Owner</font></a></li>
    <li><a href="/app1/about/"><font color="white">About Us</font></a></li>










</ul>

</header>
<br><br><br><br><br><br><br><br><br>

</body>
</html>
