<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Our Privacy & Policies</title>
</head>
<body>
{% include 'header.html'%}
{% block body %}
	<center>
	<font color="#EB586F" size="5">
		<h1>Privacy Policy</h1>
	</font>
	</center>
	<font color="black" face="Arial" size="4">
		<ol>
			<li>
					At The Spruce, we take online privacy seriously and we respect the concerns of our community of users. In this policy (the “Privacy Policy”) we describe our privacy practices with regard to information we collect through Apartmentrentz.com and its affiliated sites, TheSpruceEats.com, TheSprucePets.com, TheSpruceCrafts.com (collectively, the “Site”), to help you make informed decisions about how you share information when you visit or use the site, as well as your rights in determining what we do with the information that we collect or hold about you.
			</li><br>
			<li>
				We may collect information, including personal data, directly from you if you choose to provide that 	
				information. For example, you may provide us with your name and contact information (such as an email address), date of birth, or other details of that nature, when you sign up for our newsletters or participate in promotions or surveys on the Site.

			</li><br>
			<li>
				You also may choose to provide personally data about yourself when you participate in forums or discussions on the Site. Please be aware that information you post may be viewed or captured by anyone who visits the Site, therefore you should avoid posting sensitive or personal data that you would not want to be available to the public.

			</li><br>
			<li>
				When you access the Site, we and our third-party partners may automatically collect certain information about your visit using tools such as cookies, web beacons, and other similar technologies. The information collected automatically when you visit the Site may include your IP address, characteristics of your operating system, information about your browser and system settings, data about the computer or mobile device you use to access the Site, unique device identifiers, clickstream data (which shows the page-by-page path you take as you browse the Site). We or our third-party partners may combine information that each of us collects automatically with other information about you, including information you choose to provide.</li><br>
			<li>
				Cookies are small files that websites and other online services use to store information about users on the users’ own computers. This Site may use cookies (such as HTTP and HTML5 cookies and Flash cookies), as well as other types of local storage. For more information about cookies, you may visit </li><br>
			<li>
				Do Not Track” Signals. Your browser settings may allow you to automatically transmit a “do not track” signal to websites and online services you visit. At this time there is no consensus among industry participants as to the meaning of “do not track” in this context. Like many other websites Apartmentrentz.com is not configured to respond to “do not track” signals from browsers.</li><br>
			<li>
				Our agents, vendors, consultants, and other service providers may have access to information we collect through the Site to carry out work on our behalf. Those parties are subject to confidentiality obligations and are restricted from using personal data collected through the Site for purposes other than to provide the requested assistance. In addition, we may share information:</li><br>
		</ol>
	</font>
{% endblock %}
{% include 'footer.html'%}
</body>
</html>