<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Living Tips & Tricks</title>
</head>
	<body bgcolor="">
    {% include 'header.html' %}
		    <font color="#EB586F" face="Telugu sangam MN">
		    	<h1>Apartment Living How-tos & Tips</h1>
		    </font>

				<h3>
					<font color="black" face="Arial">
						<ol>
							<li>Make your apartment look and feel bigger. Making your apartment bigger would probably involve some sorcery. But making your place look and feel bigger is certainly realistic. With smart planning and careful decor decisions, you can transform your limited space into a clutter-free, inviting haven.
							</li><br>
							<li>Break your lease without breaking the bank. You might have a valid reason for wanting to get out of your lease, such as the need to relocate because of a job, marriage, or divorce, or perhaps you're buying a new home. If you must break your lease, find out how to limit, if not avoid, a penalty from your landlord.
							</li><br>
							<li>Get your landlord's attention when you need it. Not all landlords are professional or courteous enough to respond promptly when you need an appliance fixed, a pest problem treated, or a neighbor dispute resolved. Try using these communication tips to help ensure you get the prompt attention your situation requires.</li><br>
							<li>Make it seem like you don't live alone. Many apartment dwellers choose to live alone instead of sharing their place with roommates. If you're one of them, you don't need to advertise that fact to potential stalkers, thieves, and other criminals. A few tweaks to your answering machine's outgoing message can help keep you safe.</li><br>
							<li>Squeeze money out of your air-conditioning units. If you've got air-conditioning units in your apartment, chances are it has settings such as fan speed, auto, and timer. Many people don't use all the features their air-conditioners have to offer, but taking a moment to understand and adjust your units' settings can let you stay as cool as you need to be while also keep your electricity bill down.</li><br>
						</ol>

					</font>

	    		</h3>
    {% include 'footer.html' %}
	</body>
</html>